<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# FONTS #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;1,100;1,200&family=JetBrains+Mono&family=Pacifico&display=swap" rel="stylesheet">

    <title>It's Me Risen</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<!-- COLORS -->
<!-- bg-cyan-800 -->
<!-- border-emerald-400 -->
<!-- border-teal-400 -->

<!-- <body style="background-image: url('https://source.unsplash.com/ItlpSSGhfyU/1366x768');" class=""> -->
<body class="bg-gradient-to-b from-[#071014] to-[#203d4a]">
{# <body class="bg-gradient-to-b from-[#292E49] to-[#536976]"> #}
    <nav class="sticky top-0 h-12 mx-4 md:mx-14 flex justify-center border-b border-[#99FFD6]">
        <ul class="px-10 pt-3 flex justify-center">
            <li class="cursor-pointer mx-3 text-[#99FFD6] font-mono text-xl font-['IBM Plex Mono', 'monospace'] mb-2 hover:border-b border-[#A2EE7F] hover:text-[#A2EE7F]"><a href="#intro">Home</a></li>
            <li class="cursor-pointer mx-3 text-[#99FFD6] font-mono text-xl font-['IBM Plex Mono', 'monospace'] mb-2 hover:border-b border-[#A2EE7F] hover:text-[#A2EE7F]"><a href="#projs">Projects</a></li>
            <li class="cursor-pointer mx-3 text-[#99FFD6] font-mono text-xl font-['IBM Plex Mono', 'monospace'] mb-2 hover:border-b border-[#A2EE7F] hover:text-[#A2EE7F]"><a href="#blogs">Blogs</a></li>
        </ul>
    </nav>

    <div class="pt-16 pb-8 mx-4 md:mx-14 border-b border-[#99FFD6]" id="intro">
        <img src="/static/p1.jpg" alt="prof-pic" class="rounded-full mx-auto">
        <h1 class="text-center mt-10 font-medium pb-4 font-['Pacifico'] text-4xl text-transparent bg-clip-text bg-gradient-to-r from-[#E52B50] to-[#f9c74f]">> Hey there! I am Risen,</h1>
        <p id="cont" class="mx-[15%] text-left font-mono text-xl font-['IBM Plex Mono'] text-[#A2EE7F]"><span class="underline decoration-[#FF6A5D] decoration-2">Full-Stack web dev</span>, based in India. Currenly learning <span class="underline decoration-[#FF6A5D] decoration-2">Python</span> and working on various projects.</p>
    </div>

    <div id="blogs" class="border-b mx-4 md:mx-14 px-[15%] border-[#99FFD6]">
        <div class=" flex flex-col mb-14 pt-14 mx-auto">
            <h1 class="text-4xl pb-4 font-['Pacifico'] text-transparent bg-clip-text bg-gradient-to-r from-[#E52B50] to-[#f9c74f]">Blogs</h1>
            <h2 class="inline text-sm md:text-lg font-mono font-['IBM Plex Mono'] w-auto text-[#99FFD6]">Will Be Here Very Soon</h2>
            {# {% for blog in blogs %}
                <div>
                    <h2 class="inline text-sm md:text-lg font-mono font-['IBM Plex Mono'] w-auto text-[#99FFD6]"><a href="/blog/{{blog[2]}}" class="cursor-pointer hover:underline decoration-[#A2EE7F]">{{blog[0]}} - {{blog[1]}}</a></h2>
                </div>
            {% endfor %} #}
        </div>
    </div>

    <div id="projs"class="border-b mx-4 md:mx-14 border-[#99FFD6]">
        <h1 class="pt-14 text-center font-medium font-['Pacifico'] text-4xl text-transparent bg-clip-text bg-gradient-to-r from-[#E52B50] to-[#f9c74f] pb-4">> Projects</h1>
        <div id="projcon" class="flex flex-wrap w-full gap-2 p-5 md:p-10">
            {% for repo in projects %}
                <a href="https://github.com/Risen57/{{repo}}" class="w-auto mx-auto">
                    <img class="w-auto mx-auto h-24 mt-4 p-2 border-2 border-[#99FFD6] rounded-xl md:h-48" src="https://opengraph.githubassets.com/f46d3d21c0c43e565e27e314eb51c91b17f78342c1c4de976401d50a39d1a674/Risen57/{{repo}}">
                </a>
            {% endfor %}
        </div>
    </div>

</body>
</html>
